# Environment variables with prefix 'NUXT_' are automatically made available to use in runtimeConfig.
# * `NUXT_*` variables are only available on the server-side.
# * `NUXT_PUBLIC_*` variables are available on both server-side and client-side.
# * See the documentation for more detail: https://nuxt.com/docs/guide/going-further/runtime-config#environment-variables
# Environment variables declared in this file are automatically made available to Prisma, as well.
# * See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# –––––––––––––––– REQUIRED ––––––––––––––––
# The MySQL host to connect to.
MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"
MYSQL_USERNAME="root"
MYSQL_PASSWORD="password"

# The `DB_CONNECTION_STRING` variable will be used to override prima's db provider's url if it has been set.
# Prisma supports the native connection string format for MySQL.
DB_CONNECTION_STRING="mysql://${MYSQL_USERNAME}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/student-life"
