# This will be used to set root password for `mysql` server instance
MYSQL_ROOT_PASSWORD=password

# This will be used to set root credentials for `minio` server instance
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin